body {
    background-image: url(../img/neon-green-music-notes-eloz08thhwuc7opf.jpg);
}

.maincontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 45px;
    opacity: 0.8;
}

.Titolo h1 {
    color: white;
    font-size: 72px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    padding-top: 30px;
    text-shadow: 0 0 5px rgb(255, 255, 255, 0.9);
    animation: pulse1 1s infinite;
    margin: 0.3em;
}

.Titolo p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px rgb(255, 255, 255, 0.9);

}

.Titolo {
    flex: 1;
    background-color: black;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    text-align: center;
}

.login {
    flex: 1;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: black;
    text-align: center;
    color: white;
}

.radiogeneri {
    padding-left: 150px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.radiogeneri label:hover {
    animation: pulse2 0.5s infinite;
}

.mainForm {
    padding-left: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.mainForm input:hover {
    background: linear-gradient(to right, lemonchiffon, rgb(128, 233, 151));
    animation: gradientAnimation 0.1s infinite;
}

.termsofservice {
    padding: 20px;
}

.termsofservice button:hover {
    animation: pulse2 0.5s infinite;
}